@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-50%);
  }
}

.animate-in {
  animation: fade-in 0.3s;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}

.animate-out {
  animation: fade-out 0.3s;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
