.popup {
  box-sizing: border-box;
  width: auto;
  height: auto;
  position: relative;
  box-shadow: 0px 0px 100px black;
  background-color: #f3f3f3;
  overflow: hidden;
  font-family: "Roboto";
  border-radius: 20px;
}

.popup .popup-header {
  box-sizing: border-box;
  text-align: center;
  font-weight: 200;
  padding: 10px;
  margin-bottom: 10px;
}

.popup .popup-body {
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  margin-bottom: 30px;
}

.popup .popup-button {
  box-sizing: border-box;
  display: block;
  float: right;
  width: 50%;
  border-left: 1px solid gray;
  text-align: center;
  padding: 15px;
  border-top: 1px solid gray;
  font-family: "Roboto";
  font-size: 20px;
  text-decoration: none;
  color: rgba(0, 0, 255, 1);
  cursor: pointer;
}
