@import url("https://fonts.googleapis.com/css?family=Raleway");

input[type="text"],
[type="date"],
[type="email"],
[type="password"],
select,
[type="number"] {
  padding: 13px;
  font-size: 1.2em;
  border-radius: 5px;
  border: none;
  outline: none;
  opacity: 0.7;
  font-family: "Raleway";
  transition: 300ms;
  box-sizing: border-box;
  padding-right: 35px;
}
.container {
  width: 600px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
}

input[type="text"]:focus,
[type="date"]:focus,
select:focus,
[type="email"]:focus,
[type="password"]:focus,
[type="number"]:focus {
  box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.3);
  transition: box-shadow ease-in-out 200ms;
}

.form-icon {
  width: 15px;
  height: 150px;
  font-size: 150px;
  position: relative;
  left: 32%;
  margin: 40px;
  color: rgba(0, 0, 0, 0.4);
}

#firstNameInput {
  width: 300px;
  margin: 20px 0px 5px 0px;
}
#lastNameInput {
  width: 285px;
  margin: 20px 0px 5px 4px;
}

#emailIdInput {
  width: 350px;
  margin: 20px 0px 5px;
}
#emailDomainInput {
  width: 207px;
  margin: 20px 0px 5px;
}
#AtSign {
  font-size: 29px;
  position: relative;
  top: 5px;
  font-weight: bold;
  font-family: "Raleway";
}

#passwordInput {
  width: 594px;
  margin: 20px 0px 5px;
}

#passwordConfirmationInput {
  width: 594px;
  margin: 20px 0px 5px;
}

.radio-group {
  height: 35px;
  width: 584px;
  /* background-color: rgba(255, 255, 255, 0.6); */
  border-radius: 5px;
  margin: 20px 0px 5px;
  padding: 5px;
}

.radio-group-label {
  /* color: slategray; */
  position: relative;
  top: 3px;
  margin: 5px;
  font-size: 1.2em;
  font-weight: 400;
  font-family: "Raleway";
}

body {
  background: -webkit-linear-gradient(to bottom, #11998e, #38ef7d);
  background: linear-gradient(to top, #11998e, #38ef8d);
  font-family: "Balo Thambi", cursive;
  font-weight: 500;
  font-size: 17px;
}

#primaryCellPhoneInput {
  width: 292px;
  margin: 20px 0px 5px 0px;
}

#secondaryCellPhoneInput {
  width: 292px;
  margin: 20px 0px 5px 5px;
}

#permanentAddressInput {
  width: 594px;
  margin: 20px 0px 5px;
}

#countrySelect {
  width: 292px;
  margin: 20px 0px 5px;
}

#permanentCountrySelect {
  width: 292px;
  margin: 20px 5px 5px 0px;
}

#currentStateInput {
  width: 292px;
  margin: 20px 0px 5px;
}
#permanentStateInput {
  width: 292px;
  margin: 20px 0px 5px 5px;
}

.radios {
  float: right;
  position: relative;
  margin-right: 20px;
}

.radio-label {
  font-family: "Raleway";
}

.radio-control {
  width: 40px;
  height: 20px;
  position: relative;
  top: 5px;
  border-radius: 20px;
  background: #11998e;
  box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.4);
  -webkit-appearance: none;
  transition: all 200ms ease;
  outline: none;
}

.radio-control::after {
  content: " ";
  position: absolute;
  width: 18px;
  height: 18px;
  background: #ffffff;
  box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  top: 1px;
  transition: all 200ms ease;
  bottom: 0px;
  right: 0px;
}

.radio-control:checked {
  background: #38ef7d;
}

.radio-control:checked::after {
  transform: translateX(-18px);
  transition: all 200ms ease;
}

button {
  cursor: pointer;
  display: inline-block;
  padding: 20px;
  margin: 0px 0px 0px 15px;
  font-size: 17px;
  border: 1px solid white;
  border-radius: 5px;
  font-family: "Raleway";
  width: 40%;
  outline: none;
  color: white;
  background: none;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
}

#permanentZipCodeInput {
  width: 594px;
  margin: 20px 0px 5px;
}

#currentZipCodeInput {
  width: 594px;
  margin: 20px 0px 5px;
}

#currentCountrySelect {
  width: 292px;
  margin: 20px 5px 5px 0px;
}

#currentAddressInput {
  width: 594px;
  margin: 20px 0px 5px;
}

.input-group {
  display: inline-block;
  position: relative;
}

.input-group .error-icon {
  position: absolute;
  font-size: 25px;
  bottom: 50%;
  right: 10px;
  color: rgba(255, 0, 0, 0.5);
  z-index: 1;
  margin-bottom: -20px;
  display: none;
}

.error-msg {
  position: absolute;
  width: auto;
  height: auto;
  opacity: 0;
  top: 0px;
  border-radius: 5px;
  z-index: 1;
  font-family: "Raleway";
  color: rgba(255, 255, 255, 1);
  background: rgba(190, 0, 0, 1);
  transition: 0.3s all ease-out;
}

.error-msg p {
  padding: 10px;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
  margin: 0;
  color: rgba(255, 255, 255, 1);
}

.error-msg .sqare {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 50%;
  top: 30px;
  z-index: 1;
  transform: translateX(7px) rotate(45deg);
  background: rgba(190, 0, 0, 1);
}

.invalid {
  color: rgba(255, 0, 0, 0.8);
}

.empty-msg {
  display: none;
}
.invalid-msg {
  display: none;
}

.captcha-group {
  display: inline-block;
  width: 50%;
  margin-top: 20px;
  padding: 30px 10px 10px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  position: relative;
}

.captcha-group > input {
  width: 100%;
  padding-left: 110px;
}

.captcha-group > .captcha-image {
  position: absolute;
  left: 10px;
  bottom: 13px;
  z-index: 1;
}

.captcha-group > .captcha-refresh {
  position: absolute;
  display: block;
  top: 0px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  right: 5px;
  font-size: 15px;
}

.captcha-group > .captcha-label {
  font-family: "Raleway";
  font-size: 15px;
  position: absolute;
  top: 3px;
  left: 10px;
}

.toast-container {
  position: fixed;
  width: 28vw;
  top: 0;
  left: 0;
  font-family: "Raleway";
  font-size: 18px;
}

.toast-body {
  padding: 15px;
  width: 80%;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  margin: auto;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 0, 0, 0.7);
}

.toast {
  margin-top: 15px;
}

.toast-body > .toast-icon {
  display: inline-block;
  margin-right: 10px;
  color: rgba(255, 0, 0, 0.7);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-50%);
  }
}

.animate-in {
  animation: fade-in 0.3s;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}

.animate-out {
  animation: fade-out 0.3s;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
