.toast-container {
  position: fixed;
  width: 28vw;
  top: 0;
  left: 0;
  font-family: "Raleway";
  font-size: 18px;
}

.toast-body {
  padding: 15px;
  width: 80%;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  margin: auto;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 0, 0, 0.7);
}

.toast {
  margin-top: 15px;
}

.toast-body > .toast-icon {
  display: inline-block;
  margin-right: 10px;
  color: rgba(255, 0, 0, 0.7);
}
