input[type="text"],
[type="date"],
[type="email"],
[type="password"],
select,
[type="number"] {
  padding: 10px;
  height: 25px;
  font-size: 1.2em;
  border-radius: 5px;
  border: none;
  outline: none;
  opacity: 0.7;
  transition: 300ms;
}
.container {
  width: 600px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
}

input[type="text"]:focus,
[type="date"]:focus,
select:focus,
[type="email"]:focus,
[type="password"]:focus,
[type="number"]:focus {
  box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.3);
  transition: box-shadow ease-in-out 200ms;
}

.form-icon {
  width: 15px;
  height: 150px;
  font-size: 150px;
  position: relative;
  left: 32%;
  margin: 40px;
  color: rgba(0, 0, 0, 0.4);
}

#firstNameInput {
  width: 344px;
  margin: 5px 0px 5px 4px;
}
#lastNameInput {
  width: 202px;
  margin: 5px 0px 5px 4px;
}

#emailIdInput {
  width: 59%;
  margin: 5px 0px 5px;
}
#AtSign {
  font-size: 29px;
  position: relative;
  top: 5px;
}

#emailDomainInput {
  width: 28%;
  margin: 20px 0px 5px;
}
#passwordInput {
  width: 97%;
  margin: 20px 0px 5px;
}

#passwordConfirmationInput {
  width: 97%;
  margin: 20px 0px 5px;
}

.radio-group {
  height: 35px;
  width: 98%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  margin: 20px 0px 5px;
  padding: 5px;
}

.radio-group-label {
  color: slategray;
  position: relative;
  top: 3px;
  margin: 5px;
  font-size: 1.2em;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.radio-label {
  color: slategray;
}
body {
  background: #11998e;
  background: -webkit-linear-gradient(to top, #11998e, #38ef7d);
  background: linear-gradient(to top, #11998e, #38ef7d);
  font-family: "Balo Thambi", cursive;
  font-weight: 500;
  font-size: 17px;
}

#primaryCellPhoneNumber {
  width: 250px;
  margin: 20px 0px 5px;
}
#secondaryCellPhoneInput {
  width: 310px;
  margin: 20px 0px 5px;
}
#permanentAddressInput {
  width: 97%;
  margin: 20px 0px 5px;
}

#countrySelect {
  width: 49%;
  height: 45px;
  margin: 20px 0px 5px;
}

#permanentCountrySelect {
  width: 49%;
  height: 45px;
  margin: 20px 0px 5px;
}
#currentStateInput {
  width: 280px;
  height: 25px;
  margin: 20px 0px 5px;
}
#permanentStateInput {
  width: 280px;
  margin: 20px 0px 5px;
}
.radios {
  float: right;
  margin-right: 20px;
}

.radio-control {
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
  outline: none;
}

button {
  cursor: pointer;
  padding: 20px;
  font-size: 17px;
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
  color: white;
  background: none;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
}

#permanentZipCodeInput {
  width: 97%;
  margin: 20px 0px 5px;
}
#currentZipCodeInput {
  width: 97%;
  margin: 20px 0px 5px;
}

#currentCountrySelect {
  width: 49%;
  height: 45px;
  margin: 20px 0px 5px;
}

#currentAddressInput {
  width: 97%;
  margin: 20px 0px 5px;
}
